@media (max-width: 767px) {

    body.archive {

        .site-content {

            .content-area {

                article {
                    padding-bottom: 60px;

                    &:first-of-type {
                        padding-top: 30px;
                    }

                    &:last-child {
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
}
