* {
    box-sizing: border-box;
}

:root {
    --theme-primary-color: #{$primary-color};
    --theme-primary-color-darker: #{$primary-color-darker};
    --theme-heading-font: #{$heading-font};
    --theme-text-font: #{$text-font};
    --theme-transition: #{$transition};
}

html {
    font-family: $text-font;
    font-size: 18px;
    color: #fff;
}

html,
body,
.site-wrapper {
    min-height: 100vh;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
}

html.logged-in {
    min-height: calc(100vh - $admin-bar-height);
    height: calc(100% - $admin-bar-height);

    body,
    .site-wrapper {
        min-height: calc(100vh - $admin-bar-height);
        height: calc(100% - $admin-bar-height);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font;
    font-weight: 600;
    margin: 0 0 1rem;
    line-height: 1;
}

h1 {
    font-family: $text-font;
    font-size: 1.11111rem;
    text-transform: uppercase;
    color: $primary-color;
}

h2 {
    font-size: 2.88889rem;
}

h3 {
    font-family: $text-font;
    font-size: 1.22222rem;
}

p {
    font-weight: 300;
    line-height: 1.5;
    margin: 0 0 1rem;
}

ul {
    padding-left: 1em;

    li {
        font-weight: 300;
        line-height: 1.5;
    }
}

a {
    color: #fff;
    text-decoration: none;
}

input,
textarea {
    font-family: $text-font;
    font-size: 1rem;
    color: #fff;
    border: 1px solid $primary-color;
    border-radius: 5px;
    outline: none;
    background: none;
    padding: 1.2rem 1.4rem;
    width: 100%;
    height: 100%;
}

input[type="submit"] {
    font-size: 1rem;
    color: #fff;
    padding: 1.2rem 1.8rem;
    border: none;
    border-radius: 5px;
    background-color: $primary-color;
    cursor: pointer;
    transition: $transition;

    &:hover {
        background-color: $primary-color-darker;
    }
}

button,
[role="button"] {
    font-size: 1.11111rem;
    font-weight: 300;
    margin-bottom: 1.6rem;
    padding: 0.83rem 2.77rem;
    background-color: transparent;
    border: 1px solid $primary-color;
    border-radius: 5px;
    transition: $transition;

    &:hover {
        background-color: $primary-color;
    }
}

body:not(.custom-background) {
    background-color: #1f1f1f;
}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    padding: 80px 20px 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    overflow: hidden;

    .site-branding {

        .site-logo {
            width: 100%;
            max-width: 85px;
            margin: auto;

            img {
                width: 100%;
                height: auto;
            }
        }

        .site-title {
            font-size: 1.11111rem;
        }

        .site-title,
        .site-description {
            font-family: $heading-font;
            text-align: center;
            margin: 0.5rem 0;
        }
    }

    .site-navigation {

        ul {
            font-size: 1.11111rem;
            list-style: none;
            padding: 0;

            li {
                margin: 2rem 0 2rem 80px;

                a {
                    position: relative;
                    font-weight: 400;
                    transition: $transition;

                    &::before {
                        content: "";
                        border-top: 1px solid $primary-color;
                        width: 0;
                        position: absolute;
                        top: 50%;
                        left: calc(-80px - 2rem);
                        transition: $transition;
                    }

                    &:hover {
                        color: $primary-color;
                        padding-left: 1rem;

                        &::before {
                            width: calc(2rem + 80px);
                        }
                    }
                }

                &.current-menu-item a {
                    color: $primary-color;
                    padding-left: 1rem;

                    &::before {
                        width: calc(2rem + 80px);
                    }
                }
            }
        }

        ul.sub-menu {

            li {
                margin: 1rem 0 1rem 1rem;

                a {

                    &::before {
                        left: calc(-80px - 3rem);
                    }

                    &:hover {

                        &::before {
                            width: calc(3rem + 80px);
                        }
                    }
                }
            }
        }
    }

    .site-social {
        position: relative;
        text-align: center;
        padding: 1.5rem 0;

        &::before {
            content: "";
            border-top: 1px solid #373737;
            position: absolute;
            top: 0;
            right: -2rem;
            bottom: 0;
            left: -2rem;
            height: 0;
        }

        .email {
            font-size: 1.11111rem;
            font-weight: 300;
            transition: $transition;

            &:hover {
                color: $primary-color;
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 1rem 0 0;

            li {
                display: inline-block;
                margin: 10px;

                a {
                    display: block;
                    position: relative;
                    width: 50px;
                    height: 50px;
                    border-radius: 10px;
                    border: 1px solid $primary-color;
                    transition: $transition;

                    &.dribbble:hover {
                        background-color: #ed4989;
                        border-color: #ed4989;

                        i {
                            color: #fff;
                        }
                    }

                    &.facebook:hover {
                        background-color: #1877f2;
                        border-color: #1877f2;

                        i {
                            color: #fff;
                        }
                    }

                    &.github:hover {
                        background-color: #171a1d;
                        border-color: #171a1d;

                        i {
                            color: #fff;
                        }
                    }

                    &.instagram {

                        &::before {
                            content: "";
                            background: #d6249f;
                            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
                            border-radius: 10px;
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            opacity: 0;
                            transition: $transition;
                        }

                        &:hover {

                            &::before {
                                top: -1px;
                                right: -1px;
                                bottom: -1px;
                                left: -1px;
                                opacity: 1;
                            }

                            i {
                                color: #fff;
                            }
                        }
                    }

                    &.linkedin:hover {
                        background-color: #0961b8;
                        border-color: #0961b8;

                        i {
                            color: #fff;
                        }
                    }

                    &.twitter:hover {
                        background-color: #1c93e4;
                        border-color: #1c93e4;

                        i {
                            color: #fff;
                        }
                    }

                    &.youtube:hover {
                        background-color: #f20000;
                        border-color: #f20000;

                        i {
                            color: #fff;
                        }
                    }

                    i {
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                        font-size: 1.27777rem;
                        color: $primary-color;
                        transition: $transition;
                    }
                }
            }
        }
    }
}

body.home .site-content {
    align-items: center;
}

.site-content {
    display: flex;
    margin-left: 300px;
    height: 100%;

    .content-area {
        max-width: 85%;
        width: 100%;
        margin: 0 auto;

        .entry-header {
            margin-top: 7.5%;
        }
    }
}

.has-text-color {

    &.has-dy-tech-portfolio-theme-primary-color {
        color: $primary-color;
    }
}
