$heading-font: "Titillium Web", sans-serif;
$text-font: "Open Sans", sans-serif;
$primary-color: #009bc6;
$primary-color-darker: #007ea1;
$secondary-color: #1f1f1f;
$white-color: #fff;
$transition: 0.3s ease-in-out;
$admin-bar-height: 32px;
