@media (max-width: 1366px) {

    body.archive {

        .site-content {

            .content-area {

                article {
                    padding-bottom: 105px;

                    &:first-of-type {
                        padding-top: 53px;
                    }
                }

                .projects-container {

                    article {
                        width: calc(33.33333% - 20px);
                        padding: 0;
                    }
                }
            }
        }
    }
}
