@media (max-width: 1024px) {

    body.archive {

        .site-content {

            .content-area {

                article {
                    padding-bottom: 75px;

                    &:first-of-type {
                        padding-top: 38px;
                    }
                }

                .projects-container {

                    article {
                        width: calc(50% - 15px);
                        padding: 0;

                        .project-snapshot {
                            margin-bottom: 15px;
                        }

                        .project-title {
                            font-size: 19px;
                        }
                    }
                }
            }
        }
    }
}
