@media (max-width: 1024px) {

    body.single {

        .post-thumbnail {

            img {
                max-width: 100%;
            }
        }
    }

    body.single-dy_tp_project {

        .entry-content {
            flex-wrap: wrap;

            .project-type-column {
                width: 100%;
                padding: 0 0 30px;

                .project-type-row {
                    margin-bottom: 25px;
                }

                .project-link-row {

                    .project-link {

                        &::before,
                        &::after {
                            font-size: 1.25em;
                        }
                    }
                }
            }

            .project-details-column {
                width: 100%;
            }
        }
    }

}
